body {
	background-color: black;
	animation: epic 1ms infinite alternate;
	background-size: 100pt 100pt;
}

#gamer {
	width: 250pt;
	height: 50pt;
	margin: auto;
	text-align: center;
	border: 5pt Inset black;
	animation: test 1s infinite alternate;
	font-family: 'Courier New', Courier, monospace;
	al
}

@keyframes test {
	from {
		color: black;
		background-color: white;
	}
	to {
		color: white;
		background-color: black;
	}
}

@keyframes epic {
	from {background-image: url("image1.png");}
	to {background-image: url("image2.png");}
}