body {
	background-size: 100pt 100pt;
	background-color: black;
	animation: body-anim 1ms infinite alternate;
}

img {
	width: inherit;
}

ul {
	text-align: left;
}

#cool-div {
	width: 250pt;

	margin: auto;
	text-align: center;
	padding: 5pt;
	
	font-family: 'Courier New', Courier, monospace;

	animation: cool-div-anim 1s infinite alternate;
}

@keyframes cool-div-anim {
	from {color:black;background-color:white;border:5pt solid black;}
	to {color:white;background-color:black;border:5pt solid white;}
}

@keyframes body-anim {
	from {background-image:url("image1.png");}
	to {background-image:url("image2.png");}
}